In [30]:
from bs4 import BeautifulSoup
import requests

In [31]:
url = "https://www.imdb.com/chart/top/"

In [32]:
Headers = {'User-Agent' : 'Mozilla/5.0 (ipad; CPU os12_2 like Mac os X) ApplewebKit/605.1.15 (KHTML , like Gecko) Mobile/15E148'}

In [33]:
page = requests.get(url, headers=Headers)
page

In [34]:
soup = BeautifulSoup(page.content, "html.parser")

In [35]:
# movies = soup.select('td.titleColumn a')

# # Extract and print the top 250 movie names
# top_250_movies = [movie.get_text() for movie in movies]

# # Display the movie titles
# for i, movie in enumerate(top_250_movies, start=1):
#     print(f"{i}. {movie}")

In [37]:
scraped_movies = soup.find_all('h3',class_  ="ipc-title__text")

In [38]:
for i in scraped_movies:
    print(i.text)

IMDb Charts
1. The Shawshank Redemption
2. The Godfather
3. The Dark Knight
4. The Godfather: Part II
5. 12 Angry Men
6. Schindler's List
7. The Lord of the Rings: The Return of the King
8. Pulp Fiction
9. The Lord of the Rings: The Fellowship of the Ring
10. Il Buono, Il Brutto, Il Cattivo
11. Forrest Gump
12. The Lord of the Rings: The Two Towers
13. Fight Club
14. Inception
15. Star Wars: Episode V - The Empire Strikes Back
16. The Matrix
17. GoodFellas
18. One Flew Over the Cuckoo's Nest
19. Interstellar
20. Se7en
21. It's a Wonderful Life
22. Shichinin No Samurai
23. The Silence of the Lambs
24. Saving Private Ryan
25. City of God
Recently viewed

In [40]:
scraped_rating = soup.find_all('span',class_  ="ipc-rating-star--rating")
for i in scraped_rating:
    print(i.text)

9.3
9.2
9.0
9.0
9.0
9.0
9.0
8.9
8.9
8.8
8.8
8.8
8.8
8.8
8.7
8.7
8.7
8.7
8.7
8.6
8.6
8.6
8.6
8.6
8.6

In [45]:
len(scraped_movies)

27

In [47]:
scraped_movies = scraped_movies[1:-1]

In [48]:
len(scraped_movies)

25

In [51]:
for i in range(len(scraped_movies)):
    print(scraped_movies[i].text, '-',scraped_rating[i].text)

1. The Shawshank Redemption - 9.3
2. The Godfather - 9.2
3. The Dark Knight - 9.0
4. The Godfather: Part II - 9.0
5. 12 Angry Men - 9.0
6. Schindler's List - 9.0
7. The Lord of the Rings: The Return of the King - 9.0
8. Pulp Fiction - 8.9
9. The Lord of the Rings: The Fellowship of the Ring - 8.9
10. Il Buono, Il Brutto, Il Cattivo - 8.8
11. Forrest Gump - 8.8
12. The Lord of the Rings: The Two Towers - 8.8
13. Fight Club - 8.8
14. Inception - 8.8
15. Star Wars: Episode V - The Empire Strikes Back - 8.7
16. The Matrix - 8.7
17. GoodFellas - 8.7
18. One Flew Over the Cuckoo's Nest - 8.7
19. Interstellar - 8.7
20. Se7en - 8.6
21. It's a Wonderful Life - 8.6
22. Shichinin No Samurai - 8.6
23. The Silence of the Lambs - 8.6
24. Saving Private Ryan - 8.6
25. City of God - 8.6

In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.DataFrame({
    'Movie': scraped_movies,
    'Rating': scraped_rating
})

In [56]:
df.head()

                           Movie Rating
0  [1. The Shawshank Redemption]  [9.3]
1             [2. The Godfather]  [9.2]
2           [3. The Dark Knight]  [9.0]
3    [4. The Godfather: Part II]  [9.0]
4              [5. 12 Angry Men]  [9.0]